{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/icon.png" type="image/png">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
    <title>FaceVkInsta</title>
  </head>
  <body>
    {% include 'stylesand.html' %}
    
{% include 'navbar.html' %}


<br><br><br><br>
    <div class="container">  
      <div class="row"> 
        
        <div class="col-lg-3 col-md-3 col-xs-12 rightcoolsite">
          <p class="friendsonline">Друзья онлайн</p>
          <br>
          <hr>


          {% for users in zayavka_list %}
{% if users.user in request.user.userprofile.friends.all %}
          <div class="firendsOnlineList">
            <p>
            <a href="{{ users.user_get_absolute_url }}">
          {{ users.user.get_full_name }}</a>
          </p> 


<p>
  {% if users.user_online %}
          <p style="color: #E58181;">online</p>
          {% else %}
          Бил в сети {{ users.last_activity|timesince }} назад
          {% endif %}  
          </p>


          </div>

          

          <hr>
          {% endif %}
          {% endfor %}



        </div>
          
        <div class="col-lg-9 col-md-9 col-xs-12 leftsitenews">
          <div class="beginarticles">
            <br><br>
          



          {% for image in photos %}
          {% if image.user != request.user %}
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            
         
          <div class="allfiles">
          {% if image.orphotoorvideo %}
          <video class="img-fluid videoclassallsite" src="{{ image.imageuser.url }}" controls="controls"></video>
          <p>{{ image.user.get_full_name }}</p>
          {%  else %}
          <a href="{{ image.imageuser.url }}">
          <img class="img-thumbnail img-fluid imgclassallsite"  
          src="{{ image.imageuser.url }}" alt="">
          </a>
          <p>{{ image.user.get_full_name }}</p>
         {% endif %}
          <p>{{ image.dataimg }}</p>
          {% if image.user == request.user %}
          <p><i class="far fa-thumbs-up"></i>

          {{ image.photolike.count }}</p>
          {% else %}
          <p class="like">
            {% if request.user in image.photolike.all %}
              <a href="/photo/{{ image.id }}">
                <i class="far fa-thumbs-up like"></i>
                {{ image.photolike.count }}
              </a>
              {% else %}
              <a href="/photo/{{ image.id }}">
                <i class="far fa-thumbs-up unlike"></i>
                {{ image.photolike.count }}
              </a>
              {% endif %}
            </p>
            {% endif %}
          </div>

          <br><hr><br>

             </div> <!-- ../ col-md -->
             {% endif %}
          {% endfor %}

  

          </div>
        </div>

      </div>
    </div>




   

    <div style="margin-top: 1000px;"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>