{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% include 'stylesand.html' %}
    <title>FaceVkInsta</title>
  </head>
  <body>
    
    
{% include 'navbar.html' %}


<br><br><br><br>
    <div class="container">  
      <div class="row"> 
        
        <div class="col-lg-3 col-md-3 col-xs-12 rightcoolsite">
          <p class="friendsonline">Друзья онлайн</p>
          <br>
          <hr>

          <div class="firendsOnlineList">
            <p><a href="">Павел Дуров </a> Бил в сети час назад<p>
          </div>
          <hr>
          <div class="firendsOnlineList">
            <p><a href="">Кевин Митник </a> Бил в сети 20 мин. назад<p>
          </div>
          <hr>

        </div>
          
        <div class="col-lg-9 col-md-9 col-xs-12 leftsitenews">
          {% for users in users_list %}
          <div class="listuserdiv">
           <p><img class="img-fluid imglistusers" src="{{ users.user.userprofile.avatar.url }}" alt="">{{ users.user.get_full_name }}</p>
             <!-- {% if users.user.is_authenticated %}
             <p>
             Онлайн
             </p>
             {% endif %} -->
            <a href="{{ users.user_get_absolute_url }}">
            Перейти профиль</a>
          </div>
          <br>
          <hr>
          {% endfor %}
        </div>

      </div>
    </div>

   

    <div style="margin-top: 1000px;"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>