{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    

    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

    
{% include 'stylesand.html' %}
    <title>FaceVkInsta</title>
  </head>
  <body>
    
    
<header>
{% include 'navbar.html' %}
</header>

<br><br><br><br>
    <div class="container">  
      <div class="row"> 
          
          
        <div class="col-lg-9 col-md-9 col-xs-12 leftprofile">
          <div class="leftprofilecolor">
          <div class="row">

          <div class="imgandop col-lg-4">

          {% if userobj.user.userprofile.avatar %}

          <img class="img-fluid img-thumbnail img-profile" 
          src="{{ userobj.user.userprofile.avatar.url }}" alt="">
          {% else %}
          <img class="img-fluid" 
          src="{% static 'img/default_avatar.png' %}">
      {% endif %}
   

          
          </div>
          <div class="nameprofile col-lg-8">
            {% if userobj.user.is_superuser %}
            <p class="namepr" title="Администратор">
            {{ userobj.user.get_full_name }} 
            <i title="Администратор" class="far fa-check-circle"></i>
            </p>
            {% else %}
            <p class="namepr">
            {{ userobj.user.get_full_name }} 
            </p>
            {% endif %}

            <p>Город - 
<a href="/listusers/?q={{ userobj.user.userprofile.city }}">
            {{ userobj.user.userprofile.city }}</a></p>
            <p>Место работы - 
<a href="/listusers/?q={{ userobj.user.userprofile.placework }}">
            {{ userobj.user.userprofile.placework }}</a></p>

            <p>
<a href="foto/">Фото
  </a></p>

  <p>
  {% if userobj.user.userprofile.user_online %}
          <p style="color: #E58181;">online</p>
          {% else %}
          Бил в сети {{ userobj.user.userprofile.last_activity|timesince }} назад
          {% endif %}  
          </p>

          </div>
          
        

        </div>
        
        
        <div class="friends">
        
        <br>
      <div class="addFriendButton">
  <form action="chat/">
    <button class="btn btn-primary">Написать сообщение</button>
  </form>

  <div style="margin-bottom: 9px;"></div>

  {% if request.user in userobj.friends.all %}
<form action="" method="POST">
  {% csrf_token %}
    <input name="removefriendend" 
 value="{% if username %}{{ username }}{% else %}
 jmitchel3{% endif %}" 
 class="form-control pr-5" type="hidden" placeholder="Поиск...">

 <button class="btn btn-primary">
   Удалить из друзей
 </button>
  </form>
  {% else %}

  {% if userobj.user in request.user.userprofile.zayavkadruzya.all %}
  
  <form action="" method="POST">
  {% csrf_token %}
    <input name="addfriendend" 
 value="{% if username %}{{ username }}{% else %}
 jmitchel3{% endif %}" 
 class="form-control pr-5" type="hidden" placeholder="Поиск...">

 <button class="btn btn-primary">
   Принять заявку
 </button>
  </form>

<br>
<form action="" method="POST">
  {% csrf_token %}
    <input name="removeaddfriend" 
 value="{% if username %}{{ username }}{% else %}
 jmitchel3{% endif %}" 
 class="form-control pr-5" type="hidden" placeholder="Поиск...">

 <button class="btn btn-primary">
  Отклонить заявку
 </button>
  </form>

  {% else %}

  <form action="" method="POST">
  {% csrf_token %}
  <input name="dobavfriend" 
 value="{% if username %}{{ username }}{% else %}
 jmitchel3{% endif %}" 
 class="form-control pr-5" type="hidden" placeholder="Поиск...">
    

    <button 
    class="btn 
    {% if request.user in userobj.zayavkadruzya.all %}btn-default
    {% else %} btn-primary{% endif %}">
    {% if request.user in userobj.zayavkadruzya.all %}
    Снять заявку
    {% else %}
    Добавить в друзья
    {% endif %}
    </button>
  </form>
  {% endif %}


 {% endif %}


</div>
<br>

        <ul class="friendsFollowersUl">
          <!-- <p>Друзья</p>
          <p>Подписчики</p> -->
          <li class="friendli">
         {{ userobj.friends.count }} Друга
          </li>
          <li class="followli">
          340 Подписчика
          </li>
          </ul>
<br>
<hr>
          
        
        </div>
          <div class="chat"></div>

        </div>
      </div>

        <div class="col-lg-3 col-md-3 col-xs-12">
          <p class="">BANNER</p>
          <br>
 
        </div>
          
        

      </div>
    </div>

   

    <div style="margin-top: 1000px;"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>