{% extends 'landing.html' %}
{% block content %}
<!-- <form class="formclasslogin" action="" method="POST" 
 enctype="multipart/form-data">
 {% csrf_token %}
            <tr><th></th><td> <input type="text" name="username" class="form-control" placeholder="Логин" required id="id_username">
            </td></tr>
              <br>
              <tr><th></th><td>
              <input type="password" name="password"
			  required id="id_password"
              class="form-control" placeholder="Пароль"></td></tr>
              <br>
              <p class="forgotpassword"><a href="#">
              Забыли пароль?</a></p>
              
              <button class="loginbutton btn" name="submit" type="submit">Войти</button>
            </form> -->
<form method="POST" action="">
{% csrf_token %}
         
         <input type="text" name="first_name" 
         class="form-control" 
  placeholder="Имя" 
 required id="id_first_name">
 <br>
<input type="text" name="last_name" 
 class="form-control" 
  placeholder="Фамилия"
 required id="id_last_name">
 <br>
<input type="text" name="email"
 class="form-control" 
 placeholder="Email" 
 required id="id_email">
<br>
<input type="text" name="username" class="form-control" 
 placeholder="Логин" 
 required id="id_username">
 <br>
  <input type="password" name="password"
      required id="id_password"
      class="form-control" placeholder="Пароль">
      <br>
      <p class="forgotpassword"><a href="/">
              Есть аккаунт?</a></p>
        

         <button class="loginbutton btn" 
         name="submit" 
         type="submit">
         Регистрация</button>
</form>




{% endblock content %}



