
{% for mess in allmessages %}
    
  {% if mess.user == request.user %}
    {% if mess.useryou == userobjchat.user %}
     <li class="text-right mymsg">
                <p class="pright">
              {{ mess.message }} <br>
              <small>{{ mess.datamessage|date:"H:i" }} |
                <a class="menuclassmessage" 
          href="/chatdel/{{ mess.id }}/">
            <i class="fas fa-trash-alt"></i>
          </a>
              </small>
               </p>
            

            </li>
    

    {% endif %}
      {% else %}

        {% if mess.user == userobjchat.user %}
        {% if mess.useryou == request.user %}

              <li class="text-left yourmsg">
                <p class="pleft">
              {{ mess.message }}<br>
              <small>{{ mess.datamessage|date:"H:i" }}</small>
            </p>
            </li>

            {% endif %} <!-- mess.useryou = request.user -->

      {% endif %}
      {% endif %}
            
            {% empty %}
                    <li class="text-right">No messages yet!</li>
              
           {% endfor %}


